@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>We can add dashboard widget to show the most important information like recent work order that are due today and tomorrow.</p>
</div>
