@using Microsoft.AspNetCore.Mvc.ModelBinding
@model ForgetPasswordModel
@{
    ViewData["Title"] = "Forget Password";
}


<h1>Forget Password</h1>

<div class="row">
    <div class="col-md-12">
        <form method="post">
            @if (Html.ViewData.ModelState.ErrorCount > 0)
            {
                <div class="alert alert-danger" asp-validation-summary="All" role="alert">
                </div>
            }
            
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" type="email" class="form-control" required />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary" onclick="forgetpassword()">Submit</button>
        </form>

    </div>
</div>


@section Scripts {
    <script type="text/javascript">
        function forgetpassword() {
            swal({
                title: "Good job!",
                text: "Email will be sent if you have an account!",
                icon: "success"
            });
        };
    </script>
}